PORT=4001
FRONTEND_ORIGIN=http://localhost:3000,http://192.168.0.178:3000
SMTP_HOST=mail.brami.shop
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sales@brami.shop
SMTP_PASS=3Dsmax3dsmax
SMTP_FROM_NAME=Brami
SMTP_FROM_EMAIL=sales@brami.shop
