@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.content-protected {
  -webkit-user-select: none;
  user-select: none;
}

.content-protected input,
.content-protected textarea,
.content-protected [contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}
